.euromillions-ext-star,
.euromillions-ext-num {
    height: 40px;
    width: 30px;
    border-radius: 5px;
}

.euromillions-ext-num {
    border: 1px solid gray;
}

.euromillions-ext-star {
    border: 1px solid goldenrod;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContainer {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    z-index: 1000; /* to go above the search bar */
}

.mainWrapper {
    width: 300px;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}