.star,
.num {
    height: 40px;
    width: 30px;
    border-radius: 5px;
}

.num {
    border: 1px solid gray;
}

.star {
    border: 1px solid goldenrod;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContainer {
    position: fixed;
    height: 50px;
    width: 300px;
    top: 0;
    right: 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: white;
}